@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* www.sikoga.com */

* {
  padding: 0;
  margin: 0;
  font: 16px "Noto Sans", sans-serif;
  color: white;
}

body {
	background: url("../img/logo.jpg") no-repeat top center;
	
	-moz-background-size: 400px; /* Firefox 3.6+ */
    -webkit-background-size: 400px; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 400px; /* Opera 9.6+ */
    background-size: 400px; /* Современные браузеры */
}


h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top : 00px;
  margin-bottom: 0px;
}

form {
  margin: 10px auto;
  width: 300px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, .5);
  outline: none;
  background: transparent;
  margin: 3px 0 7px 0;
  padding-left: 7px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid rgba(255, 255, 255, .5);
  background: transparent;
  margin-top: 10px;
  cursor: pointer;
}


input[type="submit"]:hover, input[type="text"]:hover, input[type="password"]:hover,
input[type="submit"]:active, input[type="text"]:focus, input[type="password"]:focus{
  border: 1px solid rgba(255, 255, 255, .75);
  background-color: #4878CE;
}