
	# BEGIN WordPress
#	<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteBase /
#	RewriteRule ^index\.php$ - [L]
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule . /index.php [L]
#	</IfModule>

	# END WordPress
	##Order Deny,Allow
	##Deny from all 
	##Allow from 88.86.65.166
	




# Запрет отображения листинга каталога
#Options -Indexes
Options All -Indexes


#<FilesMatch ~ "\.(php|htm|html|js)$">
##  Order allow,deny
 # Deny from all
#</FilesMatch>